<p>
    <h1><%= @user.username %></h1>
</p>

<p>
    <b>Email:</b>
    <%= @user.email %>
</p>

<p>
  <b>Member since:</b>
  <%= @user.created_at.to_date %>
</p>

<p>
  <b>Credential:</b>
  <% if @user.admin? %>
    admin
    <% if signed_in? %>
      <% if current_user.admin? %>
        <%= link_to('revoke', {:controller => 'users', :action => 'demote', :id => @user.id}) unless current_user?(@user) %>
      <% end %>
    <% end %>
  <% else %>
    normal user
    <% if signed_in? %>
      <% if current_user.admin? %>
        <%= link_to('promote', {:controller => 'users', :action => 'promote', :id => @user.id} )unless current_user?(@user) %>
      <% end %>
    <% end %>
  <% end %>
</p>

<p>
  <b>Posts and Comments:</b>
  <%= render 'list_posts' %>
</p>

<p>
  <b>Votes:</b>
  <%= render 'list_votes' %>
</p>

<p>
 <% if current_user?(@user) or current_user.admin? %>
   <%= link_to 'Edit', edit_user_path(@user) %> |
   <%= link_to 'Delete', @user, method: :delete, data: { confirm: 'Are you sure?' } unless current_user?(@user) and current_user.admin? %>
 <% end %>
</p>