<div class="row">
  <div class="span6 offset3">
    <%= form_for(@post) do |f| %>
        <%= render 'layouts/error_messages', object: f.object %>

        <%=  f.hidden_field :title %>
        <%=  f.hidden_field :category_id %>
        <%=  f.hidden_field :parent_post_id %>

        <%= f.text_area :content %>
        <%= f.submit "Create Comment", class: "btn btn-large btn-primary" %>

    <% end %>
  </div>
</div>
