<% if @category.posts.first.nil? %>
    No post
<% else %>
<table>
  <tr>
    <th>Name</th>
    <th>Created by</th>
    <th>Created at</th>
    <th>Latest activity</th>
  </tr>

  <% @category.posts.all(:order => "updated_at DESC").each do |post| %>
      <tr>
        <% if post.parent_post_id.nil? %>
            <td><%= link_to post.title, post %></td>
            <td><%= link_to post.user.username, post.user %></td>
            <td><%= "#{time_ago_in_words post.created_at} ago"%></td>
            <td><%= "#{time_ago_in_words post.updated_at} ago"%></td>

            <% if signed_in? %>
                <% if current_user?(post.user) or current_user.admin? %>
                    <td><%= link_to 'Edit', edit_post_path(post) %></td>
                    <td><%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                <% end %>
            <% end %>
        <% end %>
      </tr>
  <% end %>

</table>
<% end %>