<div id="vote_form">
  <% if signed_in? %>
      <% if current_user?(object.user) %>
          <%= link_to "#{object.votes.count} people voted", '#' %> <br />
      <% else %>
          <% if current_user.voted?(object) %>
              <%= link_to "you and #{object.votes.count-1} other people voted",
                  {controller: 'posts', action: 'show_liked', id: object.id} %> <br />
              <%= link_to 'unlike', {controller: 'posts', action: 'unvote', id: object.id} %>
          <% else %>
              <%= link_to "#{object.votes.count} people voted",
                          {controller: 'posts', action: 'show_liked', id: object.id} %><br />
              <%= link_to 'like', {controller: 'posts', action: 'vote', id: object.id} %>
          <% end %>
      <% end %>
  <% else %>
      <%= link_to "#{object.votes.count} people voted",
                  {controller: 'posts', action: 'show_liked', id: object.id} %><br />
  <% end %>
</div>
